body {
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
}
.customdiv{
    width: 50%;
    margin-left: 25%;

}
img {
    width: 100%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
